# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Настройки VS Code
.vscode/

# Исходное видео
resources/snowboard_day.mp4

# Все извлеченные кадры
resources/all_frames/

# Папки с отобранными кадрами
resources/train_val_raw/
resources/test_raw/

# Готовый датасет
resources/dataset/

# Результаты запусков модели
runs/

# Логи и временные файлы
*.log
*.tmp