# Виртуальное окружение
venv/
.env

# Кэш Python
__pycache__/
*.pyc

# Настройки VS Code
.vscode/
.idea/

# Исходное видео
resources/snowboard_day.mp4

# Все извлеченные кадры
resources/all_frames/

# Папки с отобранными кадрами
resources/train_val_raw/
resources/test_raw/

# Готовый датасет
resources/dataset/

# Результаты запусков модели
runs/

# Загруженные предобученные веса Yolov8
notebooks/yolov8n.pt

# Вспомогательный генерируемый файл
unselected_images_for_test.txt

# Логи и временные файлы
*.log
*.tmp

# Файлы генерируемые ОС
.DS_Store
Thumbs.db